.container {
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-y: scroll;
  scrollbar-width: thin;
  
  & hr {
    border: 0;
    border-bottom: 1px solid var(--c-border);
  }
}

.creatures {
  list-style: none;
  margin: 0;
  padding: 0;
}

.loading {
  display: grid;
  place-items: center;
}
