.creature-list-item.--expanded {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-right: 40px;
}
.creature-list-item.--expanded div,
.creature-list-item.--expanded hr {
  grid-column: span 2;
  width: 100%;
}

.creature-list-item.--expanded hr {
  margin: 0 0 20px 0;
}

.creature-trait {
  font-size: 16px;
}
.creature-trait span {
  font-size: 17px;
  font-weight: 700;
}
.creature-short-traits {
  display: grid;
  gap: 5px;
  margin-bottom: 20px;
  white-space: pre-wrap;
}
.creature-short-traits .creature-trait span {
  font-size: 16px;
  font-weight: 700;
}
.creature-actions,
.creature-legendary-actions,
.creature-traits {
  display: grid;
  gap: 8px;
  margin-bottom: 20px;
  white-space: pre-wrap;
}
.creature-actions h3,
.creature-legendary-actions h3 {
  color: var(--c-text);
  margin: 0;
}
.creature-short-traits .creature-trait {
  line-height: 1.2em;
}
.creature-traits .creature-trait,
.creature-actions .creature-trait {
  line-height: 1.4em;
}

.creature-list-item.--expanded .creature-name {
  font-size: 42px;
  margin-bottom: 4px;
}
