@use 'src/breakpoints' as *;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  border-right: 10px solid var(--c-border-thick);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content;
  justify-items: stretch;

  @include for-desktop {
    height: 100vh;
  }
}

.rows {
  grid-column: 1 / 4;
  margin: 0;
  padding: 0;
}

.cell {
  align-items: center;
  border-right: 1px solid var(--c-border);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  &:last-of-type {
    border-right: 1px solid transparent;
  }
}

/* TODO: Make this stretch only up to 225px wide */
.next-button {
  align-self: end;
  border: 0;
  background: transparent;
  color: var(--c-text);
  cursor: pointer;
  grid-column: 3 / 4;
  font-size: 24px;
  margin: 16px;
  padding: 12px 24px;
  text-transform: uppercase;

  &:hover {
    background: var(--c-bg-hover);
  }
}

.sort-button {
  align-self: stretch;
  background: none;
  border: 1px solid transparent;
  color: var(--c-text);
  cursor: pointer;
  display: grid;
  flex-shrink: 1;
  font-size: 0.5em;
  font-weight: 500;
  margin-bottom: -1px;
  margin-left: 5px;
  margin-right: -11px;
  padding: 0 8px 0 8px;
  place-items: center;
  text-transform: uppercase;
  writing-mode: sideways-rl;

  &:hover {
    border: 1px solid var(--c-border-hover);
  }
}
