.button {
  background: transparent;
  border-radius: 20px;
  border: 2px solid var(--c-text);
  color: var(--c-text);
  cursor: pointer;
  display: grid;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  line-height: 0;
  padding: 0 16px;
  place-items: center;
  position: relative;
  transition: 240ms background-color;
}
