.add-button {
  align-items: center;
  align-self: center;
  background-color: #28579f;
  border-radius: 16px;
  border: 0;
  color: var(--c-text);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  justify-content: flex-start;
  justify-self: end;
  line-height: 0;
  padding: 0 12px 0 6px;
  transition: 240ms background-color;

  &:hover {
    background-color: #2a65bf;
  }

  & svg {
    --size: 28px;
    fill: var(--c-text);
    height: var(--size);
    margin-right: 2px;
    width: var(--size);
  }
}


.header {
  display: grid;
  gap: 20px 32px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;

  & h1 {
    grid-column: 1 / 3;
    font-size: 32px;
    margin: 0;
  }
}

.search {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--c-border);
  color: var(--c-text);
  font-size: 24px;
  transition: 160ms border-color;
  width: 100%;

  &:active,
  &:focus {
    border-bottom: 3px solid var(--c-input-active);
    margin-bottom: -2px;
    outline: none;
  }
}