@use 'src/breakpoints' as *;

$mobile-nav-height: 60px;

.container {
  display: grid;
  height: 100vh;
  position: relative;
  
  @include for-desktop {
    grid-template-rows: min-content 1fr;
  }
}

// tabs on the bottom for mobile is more ergonomic
.nav {
  background: var(--c-bg);
  bottom: 0;
  display: grid;
  height: $mobile-nav-height;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  scrollbar-width: thin;
  width: 100%;
  z-index: 2;

  @include for-desktop {
    order: unset;
    position: static;
  }
}

.tabs {
  align-items: stretch;
  border-top: 2px solid var(--c-border);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  @include for-desktop {
    border-bottom: 1px solid var(--c-border);
  }
}

.tab {
  cursor: pointer;
  display: grid;
  font-size: 16px;
  letter-spacing: 0.01em;
  padding: 0 24px;
  place-items: center;
  text-transform: uppercase;
  transition: 160ms background-color ease-in-out;

  &:hover {
    background: var(--c-bg-hover);
  }
}

.selected-tab {
  border-top: 2px solid var(--c-border-selected);
  margin-top: -2px;
  
  @include for-desktop {
    margin-bottom: -1px;
    margin-top: unset;
    border-bottom: 1px solid var(--c-border-selected);
    border-top: 0;
  }
}