:root {
  --c-add-hover: #e6ffdf;
  --c-bg: #fbfbfb;
  --c-bg-button: #e5e6e9;
  --c-bg-button-hover: #dbdbdc;
  --c-bg-dialog: #fff;
  --c-bg-hover: #f4f4f4;
  --c-border: #cdcdcd;
  --c-border-contrast: #161616;
  --c-border-hover: #9c9c9c;
  --c-border-prominent: #444444;
  --c-border-selected: #49aaf5;
  --c-border-thick: #d0d0d0;
  --c-input-active: #4e95ff;
  --c-text: #161616;
  --c-text: #323232;
  --c-text-increase: #075dcc;
  --c-text-decrease: #db3e00;

  --f-sans-serif: 'Open Sans', 'Helvetica', Arial, ui-sans-serif, sans-serif;
  --f-serif: 'Literata', Times New Roman, ui-serif, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-add-hover: #0f2f15;
    --c-bg: #0d0e0c;
    --c-bg-button: #36373c;
    --c-bg-button-hover: #4b4d59;
    --c-bg-dialog: #1d1e20;
    --c-bg-hover: #121310;
    --c-border: #222;
    --c-border-contrast: #a4a4a4;
    --c-border-prominent: #646464;
    --c-border-hover: #363636;
    --c-border-selected: #0a4673;
    --c-border-thick: #171717;
    --c-input-active: #1c6ce8;
    --c-text: #ececec;
    --c-text-secondary: #ccc;
    --c-text-increase: #347ddb;
    --c-text-decrease: #e86414;
  }
}

#app {
  display: grid;
  grid-template-columns: 65% 35%;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--c-bg);
  font-family: var(--f-sans-serif);
  font-size: 24px;
  font-weight: 400;
  color: var(--c-text);
}

button,
input,
select,
select option,
textarea {
  font-family: var(--f-sans-serif);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--f-serif);
}
